<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<%= javascript_include_tag "jquery.ui.addresspicker" %>

<script type="text/javascript">
  $(function() {
    var addresspicker = $( "#addresspicker" ).addresspicker({
      regionBias: "sg"});
  });
</script>


  <div id="wrap">

        <!-- /Header Section -->

        <div id="landing">
            <div class="header-image">
                <div class="headline">


                    <div class="container">

                        <div class="header">
                            <ul class="nav nav-pills pull-right">
                                <li><a href="login.html">Login</a>
                                </li>
                                <li class="active"><a href="signup.html"><span class="glyphicon glyphicon-user"></span> Sign up</a>
                                </li>

                            </ul>
                            <h3 class="text-muted"><span class="glyphicon glyphicon-dashboard"></span> Side<span class="sec-brand">Trip</span></h3>
                        </div>

                        <h1>Find your dream travel itinerary without all the hassles.</h1>
                        <p class="subline">Over <strong>526,782</strong> Places to choose from</p>


                    </div>
                </div>


                <div class="search-block">
                    <div class="container">


                        <%= simple_form_for(@search) do |f| %>
                          <%= f.error_notification %>

                          <div class="form-inputs">
                              <div class="row">
                                <div class="col-md-4">
                                    <%= f.input :address, label: false, :placeholder => "Where are you now?", :input_html => {:id => "addresspicker", :class => 'form-control input-lg'} %>
                                </div>
                                <div class="col-md-4">
                                    <%= f.input :time_from, label: false, :placeholder => "Time from", :input_html => {:class => 'form-control input-lg'} %>
                                </div>
                                <div class="col-md-4">
                                    <%= f.input :time_to, label: false, :placeholder => "Time till", :input_html => {:class => 'form-control input-lg'} %>
                                    <%= f.button :submit, "Go", :class => "pull-right", :input_html => {:class => 'btn btn-success btn-lg'} %>
                                </div>
                            </div>
                            </div>

                        <% end %>

                    </div>
                </div>
            </div>
            <!-- /header-image -->
        </div>

        <!-- /Header Section -->



        <!-- Section 1 -->

        <div class="section secondary">
            <div class="container">

                <div class="row">
                    <div class="col-lg-4 col-md-4 animated slideInDown">
                        <h4> Thousands of vehicles to choose from</h4>
                        <p>eu singulis petentium. Ea quo modus officiis, tation mucius conclusionemque an vix. Ad vix deserunt consequat quaerendum.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 animated fadeInUpBig">
                        <h4>Finding a car has never been easier</h4>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 animated slideInRight">
                        <h4>Search for vehicles forsale in your area</h4>
                        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis.</p>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

        </div>

        <!-- /Section 1 -->



       


        <!-- Section 3 -->

        <div class="sec-features">
            <div class="container">
                <h2 class="text-center">Feature Rich <small>Secondary text</small></h2>
                <hr>

                <ul class="grid">
                    <li>
                        <div>
                            <h5><i class="fa fa-globe"></i><a href="#">Donec ullamcorper nulla</a></h5>
                            <p>onec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h5><i class="fa fa-map-marker"></i> <a href="#">Nulla non metus auctor </a></h5>
                            <p>onec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h5><i class="fa fa-heart-o"></i> <a href="#">Donec ullamcorper nulla</a></h5>
                            <p>onec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h5><i class="fa fa-comments-o"></i> <a href="#">Donec ullamcorper nulla</a></h5>
                            <p>onec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.</p>
                        </div>
                    </li>

                    <li>
                        <div>
                            <h5><i class="fa fa-thumbs-o-up"></i> <a href="#">Donec ullamcorper nulla</a></h5>
                            <p>onec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <h5><i class="fa fa-search"></i> <a href="#">Donec ullamcorper nulla</a></h5>
                            <p>onec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.</p>
                        </div>
                    </li>
                    <li>

                        <div>
                            <h5><i class="fa fa-camera"></i> <a href="#">Donec ullamcorper nulla</a></h5>
                            <p>onec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.</p>
                        </div>
                    </li>
                    <li>
                        <div>

                            <h5><i class="fa fa-cloud"></i> <a href="#">Donec ullamcorper nulla</a></h5>
                            <p>onec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.</p>
                        </div>
                    </li>
                </ul>

            </div>
        </div>

        <!-- /Section 3 -->





    </div>
    <!-- /Wrap -->