<div class="container">
  <div class="col-md-12">
    <div class="right-sec">

      <p id="notice"><%= notice %></p>
      <h1>time available: <small><%= (@time_available/60) unless @time_available.blank? %> minutes</small></h1>
      <h1>Starting from: <small><%= @search.address %></small> </h1><br />

      <div>



      <ul class="media-list">
        <% @places.each do |place| %>


        <li class="media premium-item">
          <a class="pull-left" href="#">
            <img class="media-object" data-src="holder.js/128x128" alt="128x128" style="" src="<%= place.photo_url %>">
          </a>
          <div class="media-body">
            <h4>
              <%= place.name unless place.name.blank? %> 
              <span class="label label-info"><%= place.visit_time_minutes unless place.visit_time_minutes.blank? %></span>
              <% if !place.category.blank? %>
              <span class="label label-success pull-right">
                <%= place.category %>
              </span>
              <% end %>
            </h4>
            <p><%= place.address unless place.address.blank? %></p>
            <p><%= place.description unless place.description.blank? %></p>
          </div>
        </li>

        <% end %>


      </ul>

    </div>
  </div>
</div>
