<div class="container">
  <div class="col-md-12">
    <div class="right-sec">

      <p id="notice"><%= notice %></p>
      <h1>time available: <small><%= @time_available unless @time_available.blank? %></small></h1>
      <h1>Starting from: <small><%= @search.address %></small> </h1><br />

      <div>
        <% @myarray.each do |stuff| %>
          <% stuff.each do |more| %>
            <%=more%>
          <% end %>
        <% end %>

      <ul class="media-list">
        <% @places.each do |place| %>


        <li class="media premium-item">
          <a class="pull-left" href="#">
            <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="" src="http://photos.foter.com/68/new-money-movement_300x300.jpg">
          </a>
          <div class="media-body">
            <h4>
              <%= place.name unless place.name.blank? %> 
              <span class="label label-info">Popular!</span>
              <% if !place.category.blank? %>
              <span class="label label-success pull-right">
                <%= place.category %>
              </span>
              <% end %>
            </h4>
            <p><%= place.address unless place.address.blank? %></p>
            <p><%= place.description unless place.description.blank? %></p>
          </div>
        </li>

        <% end %>


      </ul>

    </div>
  </div>
</div>

<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
